.cart-dropdown-container {
  position: absolute;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 10px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
  }

 
  .checkout-button{
    text-decoration: none;
    width: 100%;
    height: auto;
    text-align: center;

    .btn{
      width: 100%;
      height: 50px;
      background-color: black;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 18px;
      margin-top: 10px;
    }
  }
}
